/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-500 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  


html {
    box-sizing: border-box;
    overflow-x: hidden;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2;
    color: #1D1D1D;
    overflow-x: hidden; 
}

.wrapper {
    width: 962px;
    margin: 0 auto;
    
}

/* header styles start */

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    z-index: 999;
}

.logo {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 82px;
}

.header_nav {
    margin-right: 87px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.sign-in {
    margin-right: 16px;
    padding: 8px 20px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    background-color: #fff;
}

.sign-in:hover, .sign-in:focus, .sign-in:active {
    background-color: #F2F2F2;
}

.button_text {
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
}

.basket_link {
    padding: 0 10px;
}

/* header styles end */

/* catalog styles start */

.form_container {
    margin-top: 104px;
}

.form_search_field {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #757575;
    font-size: 16px;
    line-height: 24px;
    padding-top: 24px;
}

.form_search_field::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #626262; 
}

.catalog_header {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    margin-top: 56px;
    margin-bottom: 16px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    margin-bottom: 64px;
}

.card {
    grid-column: span 2;
    margin-bottom: 16px;
}

.card_title {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 4px;
}

.card_kitchen {
    font-size: 14px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 4px;
}

.card_time {
    font-size: 13px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 20px;
}

/* catalog styles end */

/* page 1 styles start */

/* intro styles start */

.intro {
    position: relative;
    margin-top: 72px;
    height: 364px;
    background: url(../img/intro-bg-min.jpg) no-repeat center;
    background-size: cover;
}

.intro_card {
    position: absolute;
    top: 80px;
    left: 81px;
    background: #fff;
}

.intro_card_title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin: 38px 38px 38px 54px;
}

.intro_card_stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 38px;
}

.intro_card_kitchen {
    font-size: 14px;
    line-height: 16px;
    color: #626262;
}

.intro_card_time {
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    background-color: #262626;
    border-radius: 16px;
    padding: 8px 16px;
}

/* intro styles end */

/* dishes styles start */
.dishes_filter {
    border: 1px solid rgba(117, 117, 117, 0.2);
}

.dishes_filter_wrap {
    width: 962px;
    margin: 30px auto;
}

.dishes_filter_list {
    list-style: none;
    padding-left: 0;
}

.dishes_filter_links {
    display: inline-block;
    margin-right: 40px;
}

.dishes_filter_links:last-child {
    margin-right: 15px;
}

.dishes_filter_link {
    font-size: 16px;
    line-height: 19px;
    color: #626262;
    text-decoration: none;
}

.active {
    color: #327430;
}

.snacks {
    margin-top: 56px;
    margin-bottom: 80px;
}

.snacks_title {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
}

.snacks_cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 16px;
    row-gap: 49px;
}

.snacks_card {
    grid-column: span 3;
    border: 1px solid rgba(117, 117, 117, 0.2);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.snacks_card:hover, .snacks_card:focus, .snacks_card:active {
    background-color: #F2F2F2;
}

.snacks_card_pic {
    width: 170px;
    height: 160px;
}

.snacks_card_stats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    padding: 16px 16px;
}

.snacks_card_title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 auto 0;
}

.snacks_card_desc {
    font-size: 13px;
    line-height: 21px;
    color: #626262;
    margin-top: 4px;
    margin-bottom: 58px;
}

.snacks_card_price {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    margin: 0;
}


/* dishes styles end */

/* page 1 styles end */

/* footer styles start */

.footer {
    position: relative;
    background: #262626;
}

.footer_wrapper {
    width: 962px;
    margin: 0 auto;
}

.footer_logo {
    padding-top: 56px;
    padding-bottom: 40px;
    border-bottom: 1px solid #757575;
}

.footer_nav {
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #757575;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.language-choice {
    width: 227px;
    height: 40px;
    background: url(../img/svg/world-icon.svg) no-repeat 10%;
    background-color: #3B3B3B;
    border-radius: 2px;
    border: 0;
    color: #fff;
    padding-left: 48px;
    margin-bottom: 33px;
}

.social_title {
    color: #fff;
    background: url(../img/svg/social-title-bg.svg) no-repeat left;
    padding-left: 12px;
}

.social_links {
    margin-top: 17px;
    margin-bottom: 40px;
}

.footer_top-menu-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.footer_top-menu-links {
    padding-top: 7px;
    padding-bottom: 16px;
}

.footer_top-menu-link {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
}

.footer_mobile-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #757575;
}

.footer_mobile-link {
    margin: 40px 20px;
}

.footer_down-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 40px;
    padding-bottom: 16px;
}

.footer_down-menu-link {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 24px;
}

.button-up {
    position: absolute;
    bottom: 24px;
    right: 16px;
    width: 80px;
    height: 80px;
    background: url(../img/svg/arrow-up.svg) no-repeat center;
    background-color: #59BD5A;
    border: 0;
    border-radius: 2px;
}

/* footer styles end */


/* media styles start */

@media screen and (max-width: 961px) {
    .wrapper {
        width: 100%;
        padding: 0 4px 0 4px;
    }
    .logo {
        margin-left: 0;
    }
    .header_nav {
        margin-right: 0;
    }
    .card {
        grid-column: span 3;
    }
    .card-image {
        width: 100%;
    }
    .intro_card {
        left: 8px;
    }
    .intro_card_title {
        margin: 38px 68px 58px 48px;
    }
    .snacks {
        margin-bottom: 48px;
    }
    .snacks_title {
        margin-top: 0;
        margin-bottom: 32px;
    }
    .snacks_cards {
        column-gap: 0;
        row-gap: 32px;
    }
    .snacks_card {
        grid-column: span 6;
    }
    .footer_wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 510px) {
    .wrapper {
        width: 100%;
    }
    .logo {
        margin-left: 0;
    }
    .nav {
        margin-right: 0;
    }
    .card {
        grid-column: span 6;
    }
    .intro {
        height: 255px;
    }
    .intro_card {
        top: 131px;
        left: 8px;
        transform: translateY(5%);
    }
    .intro_card_title {
        margin: 24px 49px 40px 49px;
        font-size: 24px;
        line-height: 28px;
    }
    .intro_card_stats {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 24px;
    }
    .intro_card_kitchen {
        margin-bottom: 16px;
    }
    .intro_card_time {
        margin-bottom: 0;
    }
    .dishes_filter {
        display: none;
    }
    .snacks {
        margin-top: 112px;
    }
    .snacks_title {
        font-weight: 400;
        font-size: 22px;
        line-height: 34px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 0;
        margin-bottom: 43px;
        text-align: center;
    }
    .snacks_title::after {
        display: block;
        content: "";
        width: 50px;
        height: 1px;
        background: #757575;
        margin: 12px auto 0;
    }
    .snacks_card_pic {
        width: 106px;
        height: 106px;
    }
    .snacks_card_stats {
        padding: 0;
        padding-bottom: 16px;
    }
    .snacks_card_title {
        font-size: 14px;
    }
    .snacks_card_desc {
        margin-top: 0;
        margin-bottom: 16px;
    }
    .footer_wrapper {
        width: 100%;
    }
    .footer_top-menu {
        grid-column: span 6;
    }
    .footer_mobile-link {
        margin: 24px 12px;
    }
    .footer_down-menu-link {
        grid-column: span 6;
    }
}

/* media styles end */